.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 100px;
}

.post {
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
  .container{
    padding-left: 40px;
  }
}

@media screen and (max-width: 400px) {
  .post {
    width: 100%;
  }
  .container{
    padding-left: 40px;
  }
}

@media screen and (max-width: 370px) {
  .post {
    width: 90%;
  }
  .container{
    padding-left: 30px;
    padding-right: 10px;
  }
}


@media screen and (max-width: 340px) {
  .post {
    width: 80%;
  }
  .container{
    padding-left: 20px;
    padding-right: 30px;
  }
}
